[Unit]
Description=DVB Exporter
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/dvb_exporter -web.listen-address 127.0.0.1:9437
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
